@import url('css/reset.css');
@import url('css/reticula.css');
@import url('css/editorial.css');
@import url('css/secciones.css');
@import url('css/formas.css');
@import url('css/layout.css');






/*comenzamos con la pagina y sus secciones */
html, body {
	background-color: #f2f0f0;
	color: #282828; 
	/*height: 100%;*/
	font-family: 'Montserrat', sans-serif;
	
}















